
h1{
    text-align: center;
    margin: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.confirmation tr, td{
    border: 1px solid #AAAAAA;
}

.confirmation table{
    width: 100%;
}

.confirmation tr{
    height: 3em;
}

.item{
    width: 30%;
    text-align: center;
    background-color: #C0C0C0;
}

.content{
    width: 70%;
    text-align: center;
    background-color: #C0C0C0;
}

.item_left{
    text-align: center;
}


.form-horizontal{
    margin-top: 2em;
}

.btn-send{
    margin-bottom: 4em;
}
