body{
    width: 100%;
    height: 100%;
}

header{
    background: #FF9999;
    background-image: radial-gradient(#FFCCCC 20%, transparent 0), radial-gradient(#FFCCCC 20%, transparent 0);
    background-position: 0 0, 10px 10px;
    background-size: 1.3em 1.3em;
    /*-webkit-background-size: 500px;*/
    /*height: 140px;*/
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    margin: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #FFDAB9;
    text-shadow: 2px 2px 3px #FF4F02;; 
}

.container{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h2{
    border: 1px solid #FF9999;
    background-color: #FF9999;
    border-radius: 5px;
    padding: 0.5em;
    text-align: center;
    color: #ffffff;
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: 1.5em;
}

.control-label{
    font-size: 1.2em;
    border: 1px solid #FF9999;
    border-radius: 15px;
    background-color: #FF9999;
    padding: 0.2em;
    text-align: center;
    color: #ffffff;
}

.form-horizontal{
    margin-top: 2em;
}

.btn-send{
    margin-bottom: 4em;
}

.time-space{
    border-top: 1px solid #CCCCCC;
    padding-top: 3em;
}

textarea{
    border-radius: 15px;
    border: 1px solid #F8F8FF;
    width: 100%;
    margin-top: 1em;
    background-color: #F8F8FF;
    height: 10em;
}

.form-group{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 1.5em;
}

.col-sm-12.form-control{
    height: 100%;
}

.name-display p{
    font-size: 1em;
    border: 1px solid #6633FF;
    background-color: #6633FF;
    border-radius: 15px;
    width: 20%;
    text-align: center;
    color: #ffffff;
    margin: 0.8em;
}

.thread p{
    font-size: 2em;
    margin: 0.8em;
}

p.create_time,
p.update_tim{
    font-size: 1em;
    float: left;
    border: 1px solid #D3D3D3;
    background-color: #D3D3D3;
    padding: 0.1em;
}